 <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <%= link_to root_path do %>
                        <i class="menu-icon fa fa-laptop"></i> Dashboard
                    <% end %>
                </li>
                <li class="menu-title">UI elements</li><!-- /.menu-title -->
               
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Category</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><%=link_to "Add Category", new_category_path%></li>
                        <li><i class="fa fa-table"></i><%=link_to "Show Category", categories_path%></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Product</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><%=link_to "Add Product", new_product_path%></li>
                        <li><i class="fa fa-table"></i><%=link_to "Show Product", products_path%></li>
                    </ul>
                </li>
                <li class="active">
                    <%= link_to customers_path do %>
                        <i class="menu-icon fa fa-users"></i> Users
                    <% end %>
                </li>


               
                
                
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>