<div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="vendor-item border p-4">
                        <%= image_tag "vendor-1.jpg" %> 
                    </div>
                    <div class="vendor-item border p-4">
                        <%= image_tag "vendor-2.jpg" %> 
                    </div>
                    <div class="vendor-item border p-4">
                        <%= image_tag "vendor-3.jpg" %> 
                    </div>
                    <div class="vendor-item border p-4">
                        <%= image_tag "vendor-4.jpg" %> 
                    </div>
                    <div class="vendor-item border p-4">
                        <%= image_tag "vendor-5.jpg" %> 
                    </div>
                    <div class="vendor-item border p-4">
                        <%= image_tag "vendor-6.jpg" %> 
                    </div>
                    <div class="vendor-item border p-4">
                        <%= image_tag "vendor-7.jpg" %> 
                    </div>
                    <div class="vendor-item border p-4">
                       <%= image_tag "vendor-8.jpg" %> 
                    </div>
                </div>
            </div>
        </div>
    </div>